:root{
	--primary-color:#383126;
	--secondary-color:#e8491d;
}

body{
/*	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.5;*/
	font:15px/1.5 Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
	background-image: url("../img/background-1747786.jpg");
	background-blend-mode: overlay;
/*	background-position: center;
  	background-repeat: no-repeat;*/
/* 	background-size: cover;*/
}




/*Global*/
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

ul{
	margin: 0;
	padding: 0;
}

.button_1{
	height: 38px;
	background: var(--secondary-color);
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	color: var(--primary-color);;
}




/*Header*/
header{
	background:none;
	color: #ffffff;
	padding-top: 30px;
	min-height: 70px;
}

header a{
	color: var(--primary-color);
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	transition: all 0.7s ease;
}



header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header nav{
	float: right;
	margin-top: 10px;
}

header .current a{
	color: var(--secondary-color);
	font-weight: bold;
}


header a:hover{
	color: #c2c2c2;
}


/*Showcase*/
#showcase{
	min-height: 600px;
	text-align: left;
	color: var(--primary-color);
}

#showcase h1{
	margin-top: 20rem;
	font-size: 3.5rem;
	margin-bottom: 10px;
}

#showcase .highlight{
	color: var(--secondary-color);
	font-weight: bold;
}

#showcase p{
    width: 40%;
    text-align: justify;
	font-size: 1.2rem;
}

#showcase .container .info{
	border-left: 1.2px solid #020202;
	font-size: 1.2rem;
	padding-left: 10px;
	margin-left: 5px;
}

#showcase .container .link{
	font-weight: bold;
	font-size: 1.0rem;
	padding-top: 1rem;
}

#showcase .container .link a{
	text-decoration: none;
	color: var(--primary-color);
	transition: all 0.7s ease;
}

#showcase .container .link a:hover {
	color: var(--secondary-color);
}



/*Sidebar*/
aside#sidebar{
	float: right;
	width: 30%;
	margin-top: 10px;
}

#sidebar .skills{
	text-align: left;
}

.skills li{
	font-weight: bold;
}



/*main-col*/
#main-col2{
	float: left;
	width: 65%;
}

#main-col{
	float: none;
	text-align: center;
	width: 100%;
}

#main-col h1{
	font-size: 25px;
}

#main-col .page-title{
	color: var(--secondary-color);
	font-weight: bold;
}

.details, .skills, .experience, .university, .introduce{
	padding-left: 15px;
	color: var(--primary-color);
	margin-top: 10px;
	margin-bottom: 4rem;
}

.experience .category{
	font-weight: bold;
	font-size: 1.1rem;
}

.experience .category+p{
	font-size: 1.0rem;
	font-style: italic;
}

li p:last-child {
	font-size: 1.8rem;
}

#main-col{
	font-weight: bold;
}

/*Menu*/
#menu .nav{
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

#menu .nav h3 {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--primary-color);
  display: block;
}

#menu .nav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 1.2rem;
  color: #818181;
  display: block;
  transition: all 0.7s ease;
}

#menu .nav a:hover {
	cursor: pointer;
  color: var(--secondary-color);
  font-weight: bold;
}

#menu .nav a:click {
  color: var(--secondary-color);
  font-weight: bold;
}

/*Menu2*/
#menu2{
	width: 100%;
	text-align: center;
	display: none;
}

#menu2 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#menu2 li {
  display: inline;
}

#menu2 li a {
  font-size: 1.0rem;
  padding: 0.3rem;
  text-decoration: none;
  color: var(--primary-color);
  opacity: 0.7;
}

#menu2 ul a:click {
  color: var(--secondary-color);
  font-weight: bold;
  opacity: 100%;
}

/*Gallery*/
ul#gallery li{
	list-style: none;
	padding: 20px;
	margin-bottom: 5px;

}



ul#gallery li iframe, ul#gallery li video{
	width: 80%;
	height: 500px;
	padding: 10px;
}

ul#gallery li img{
	width: 80%;
	padding: 10px;
}




footer{
	padding: 20px;
	margin-top: 20px;
	color: #020202;
	text-align: center;
}



/*Media queries*/
@media(max-width: 768px){
	header #branding,
	header nav,
	header nav li,
	article#main-col2,
	aside#sidebar{
		float: none;
		width: 100%;
		text-align: center;
	}

	header{
		padding-bottom: 20px;
	}

	#showcase h1{
		margin-top: 20px;
		font-size: 2rem;
	}

	#menu2{
		display: block;
	}

	#menu{
		display: none;
	}
	

}

@media (max-width: 568px){

	#main-col2{
	width: 100%;
	}

	#menu .nav {padding-top: 3rem;}


	ul#gallery li iframe{
		height: 30%;
	}

	ul#gallery li .links{
		display: block;
	}

	ul#gallery li .links a:hover{
		color: #cccccc;
		font-weight: bold;
	}

}